<html>
<head>
    <script type="text/javascript" src="webInfo.js"></script>
    <title>abc</title><meta charset="utf-8"/>
</head>
<!--
<form method="GET">
    Search:     <input type="text" name="variable" id="variable"><br/>
    Url:        <span id="result"></span>
    </br>
    <input type="button" value="Submit" onclick=myurl()>
</form>

<script>  
    function myurl() {
        document.getElementById("result").innerHTML = my_form_post(document.getElementById("variable").value)
    }
</script>
-->
<body>
    <script>
        createURL("the earth is flat");
    </script>
</body>
    


</html>
